@model WebApplication4.Models.ClemencyDegree

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ClemencyDegree</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Describtion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Describtion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Max)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Max)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Min)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Min)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
