@model WebApplication4.Dto.SubjectDto
@using WebApplication4.Dto
@using WebApplication4.Logic

@{
    EvaluationLogic evaluationLogic = new EvaluationLogic();
    var evaluationDto = evaluationLogic.GetAll();

    StudentLogic studentLogic = new StudentLogic();
    var studentDtos = studentLogic.GetAll(Model.SubjectCode);
    EvaluationSubjectStudentLogic subjectStudentLogic = new EvaluationSubjectStudentLogic();
    int numberOfEvaluationMethod = evaluationDto.Count();
    int numberofStudents = studentDtos.Count();


 }


}


<h1 class="page-title" style="text-align:right"> رصد درجات الطلاب <span style="text-align:right" class="fw-semi-bold">- @Model.SubjectName</span></h1>






<section class="widget">
    <header>

        <div class="widget-controls">
            <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
            <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
            <a data-widgster="close" title="Close" href="#"><i class="glyphicon glyphicon-remove"></i></a>
        </div>
    </header>
    <div class="widget-body" style="direction:rtl">

        @using (Html.BeginForm("Create", "EvaluationSubjectStudents", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
        <div class="mt">
            <table id="myTable" class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th style="text-align:center">طالب</th>
                        @foreach (var item in evaluationDto)
                        {

                            <th style="text-align:center"> <div class="col-md-4">@item.Description </div></th>
                        }

                        @*  <th style="text-align:center" class="no-sort hidden-sm-down"><div class="col-md-3">مجموع </div></th>*@





                    </tr>
                </thead>

                <tbody>

                    @for (int student = 0; student < numberofStudents; student++)
                    {
                        if (subjectStudentLogic.GetById(evaluationDto[0].id, Model.SubjectCode, studentDtos[student].SeatingNumber) != null)
                        {
                            continue;
                        }
                        <tr>

                            <td>@studentDtos[student].Name</td>

                            @for (int i = 0; i < numberOfEvaluationMethod; i++)
                            {

                                <input type="hidden" name="Grades[@student][@i].SubjectCode" value="@Model.SubjectCode" />
                                <input type="hidden" name="Grades[@student][@i].StudentSeatingNumber" value="@studentDtos[student].SeatingNumber" />
                                <input type="hidden" name="Grades[@student][@i].EvaluationID" value="@evaluationDto[i].id" />
                                <td>  <div class="col-md-4 combat"> <input name="Grades[@student][@i].Grade" required type="text" id="degrees[@student][@i]" class="form-control" /> </div> </td>
                            }



                            @*  <td> <div class="col-md-4 "> <input readonly type="text" id="Total[@student]" name="totalGrade" class="form-control" /> </div></td>*@
                        </tr>
                    }

                </tbody>


            </table>
            <div class="form-group">

                



                <input  type="submit" value="اعتماد" class="btn btn-info" />

            </div>

        </div>
        }
    </div>

</section>


    
  
   
