@model WebApplication4.Models.StudentYearPatch

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>StudentYearPatch</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.patch.PatchName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.patch.PatchName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.student.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.student.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.year.id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.year.id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StateForpatch)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StateForpatch)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
