@model IEnumerable<WebApplication4.Models.StudentYearPatch>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.patch.PatchName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.student.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.year.id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StateForpatch)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.patch.PatchName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.student.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.year.id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StateForpatch)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.roimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
