@model WebApplication4.Models.Patch

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Patch</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PatchName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PatchName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PatchNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PatchNumber)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
