@model IEnumerable<WebApplication4.Dto.ControlDto>

@{
    ViewBag.Title = "Index";
}

<h1 style="text-align:right" class="page-title">عرض جميع - <span style="text-align:right" class="fw-semi-bold">الكنترولات</span></h1>






<section class="widget">
    <header>

        <div class="widget-controls">
            <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
            <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
            <a data-widgster="close" title="Close" href="#"><i class="glyphicon glyphicon-remove"></i></a>
        </div>
    </header>
    <div class="widget-body">

        <div class="mt">
            <table id="datatable-table" class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th style="text-align:right">رقم الكنترول</th>
                        <th style="text-align:right">اسم الكنترول</th>
                        <th style="text-align:right" class="no-sort"> رقم المستخدم</th>
                        <th style="text-align:right" class="no-sort hidden-sm-down">تاريخ الانشاء </th>
                        




                    </tr>
                </thead>
                <tbody>


                    @foreach (var item in Model)
                    {
                        <tr>

                            <td><span class="fw-semi-bold">@item.ID</span></td>
                            <td class="hidden-sm-down">
                                <small>
                                    <span class="fw-semi-bold"></span>
                                    &nbsp; JPEG
                                </small>
                                <br>
                                <small>
                                    <span class="fw-semi-bold">@item.ControlName</span>
                                    &nbsp; 200x150
                                </small>
                            </td>
                            <td class="hidden-sm-down">@item.userID </td>
                            <td class="hidden-sm-down"> @item.CreationDate</td>
                            

                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                            </td>
                        </tr>




                    }
                </tbody>
            </table>
        </div>
    </div>
</section>

